.authorbox {
  display: block;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: $spacer * 1.5  0;
  margin: 0  0  $spacer * 2;

  &__name {
    font-weight: 700;
    margin-bottom: $spacer * 0.75;

    @include font-size(20px);
  }

  &__image {
    border-radius: 100px;
    float: left;
    margin-right: $spacer;
    max-width: 80px;
    margin-bottom: $spacer / 4;
  }
}
