.breadcrumbs {
  font-size: 13px;
  margin-top: $spacer * 0.75;
  margin-bottom: - $spacer / 2;

  &-container {
    display: none;

    @include media-min-width(md) {
      display: block;
    }

    .hentry + & {
      display: block;

      @include media-min-width(md) {
        display: none;
      }

      .breadcrumbs {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  .svg-inline--fa,
  i {
    font-size: 9px;
    color: #999;
    margin: 0  $spacer / 3;
    vertical-align: middle;
  }
}
