.btn,
a.btn {
  border-radius: 4px;
  padding: $spacer / 2  $spacer * 2;
  background-color: $secondary;
  color: $light;
  transition: all 0.3s linear;
  border: 1px solid $secondary;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($secondary, 20%);
    border-color: darken($secondary, 20%);
  }

  &--primary {
    background-color: $secondary;
    color: $light;
    transition: all 0.3s linear;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($secondary, 20%);
    }
  }

  &--light {
    background-color: $light;
    border-color: $light;
    color: $dark;

    &:hover,
    &:active,
    &:focus {
      background-color: $dark;
      color: $light;
      border-color: $dark;
    }
  }

  &--dark {
    background-color: $dark;
    border-color: $dark;

    &:hover,
    &:active,
    &:focus {
      background-color: $light;
      color: $dark;
      border-color: $dark;
    }
  }
}
