$callout-border-color: #a2a29d;
$callout-border-width: 2px;
$callout-title-bg: #dfe0dc;

.callout {
  border: $callout-border-width solid $callout-border-color;
  border-radius: 6px;
  margin-bottom: $spacer * 2;
  padding: $spacer $spacer $spacer  $spacer * 3;

  @include media-min-width(md) {
    padding: $spacer * 1.5  $spacer * 1.5  $spacer * 1.5  $spacer * 4;
  }

  &__title {
    font-weight: 700;
    display: inline-block;
    margin: 0;
    position: relative;
  }

  &__icon {
    background-image: url(../images/callout-icons.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: - $spacer * 2.5;
    top: 3px;
    width: 24px;
    height: 26px;

    &--important {
      background-position: -5px -5px;
    }

    &--note {
      background-position: -39px -5px;
    }

    &--warning {
      background-position: -73px -5px;
    }
  }
}
