$reply-box-bg: #efefef;

.comment-content,
.comment .children,
.depth-1.parent > .children {
  border: none;
}

.comment {
  &-content {
    margin-top: 0;
    padding-top: $spacer;
  }

  &-body {
    padding-top: 0;
  }

  &-respond {
    margin-bottom: 60px;
    background: $reply-box-bg;
    padding: $spacer * 1.5;
  }

  &s-title {
    margin-bottom: $spacer * 2;
  }
}
