.entry-meta {
  font-size: 72%;

  @include media-min-width(md) {
    font-size: 85%;
  }

  a {
    vertical-align: middle;
  }

  .vcard {
    display: inline;

    &__image {
      margin-right: $spacer / 3;
      border-radius: 100px;
      vertical-align: middle;
      width: 24px;
      height: 24px;

      @include media-min-width(md) {
        margin-bottom: 0;
        width: 28px;
        height: 28px;
      }
    }
  }
}

.posted-on {
  float: none;
  border-bottom: 1px dotted;

  @include media-min-width(iphone5) {
    float: right;
  }

  .published {
    position: relative;

    &::before {
      content: "Published: ";
      display: inline;

      .archive & {
        display: none;
      }
    }
  }

  .updated {
    display: inline;
    position: relative;

    &::before {
      content: "Updated: ";
      display: inline;

      .archive & {
        display: none;
      }
    }

    + .published {
      display: none;

      &::before {
        display: none;
      }
    }
  }
}

footer.entry-meta {
  font-size: 90%;
}
