$hero-text-size: 19px;
$hero-title-size: 32px;

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
  padding-top: $spacer;
  padding-bottom: $spacer * 3;
  margin-bottom: 0;

  @include media-min-width(md) {
    background: linear-gradient(to right, #0272bd 0%, #fff 100%);
    height: 460px;
    padding: 0  $grid-padding * 2;
  }

  &__mask {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0066cc+0,6699cc+57,ffffff+100 */
    background: rgb(0, 102, 204); /* Old browsers */
    background: linear-gradient(to right, #0272bc 0%, #71b0da 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;

    @include media-min-width(md) {
      background: linear-gradient(to right, #0272bc 0%, #71b0da 57%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  &__graphic {
    max-width: 260px;
    position: relative;
    z-index: 40;

    @include media-min-width(md) {
      max-width: 100%;
    }
  }

  &__bottom-shape {
    background: url(../images/bottom-new.svg) repeat-x 0 0 scroll;
    position: absolute;
    width: 100%;
    z-index: 60;
    opacity: 0.8;
    height: 130px;
    bottom: -75px;

    @include media-min-width(md) {
      left: 0;
      bottom: 0;
    }
  }

  &__graphic-container {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 70;

    @include media-min-width(md) {
      display: flex;
      flex-wrap: wrap;
      flex: 40%;
      order: 5;
      justify-content: flex-end;
    }
  }

  &__container {
    width: 100%;
    position: relative;
    z-index: 50;
    font-weight: 100;
    line-height: 1.3;

    @include font-size($hero-text-size);

    @include media-min-width(md) {
      display: flex;
      flex-wrap: wrap;
      order: 1;
      flex: 50%;
      align-items: center;
      padding-right: 10%;
    }
  }

  &__title {
    margin-bottom: 0;
    font-weight: 400;

    @include font-size($hero-title-size);

    @include media-min-width(md) {
      margin-bottom: $spacer;
    }
  }

  h3 {
    font-weight: 400;
    line-height: 1.3;

    @include font-size($hero-text-size);
  }
}
