.logos {
  background-color: #f3f2f2;
  // padding-top: $spacer / 2;
  // padding-bottom: $spacer / 2;

  &__title {
    color: $dark;
    font-weight: 400;
    text-align: center;

    @include font-size(24px);
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex: 50%;
    margin-bottom: $spacer * 0.75;
    justify-content: space-around;

    &:first-child {
      margin-left: 0;
    }

    @include media-min-width(md) {
      display: block;
      flex: none;
      margin-left: $spacer * 0.75;
    }
  }

  &__image {
    max-width: 80%;

    @include media-min-width(md) {
      max-width: 100%;
    }
  }
}
