$post-dark-text-color: $dark;
$post-dark-readme-color: #030;
$post-light-text-color: rgb(84, 89, 95);
$post-light-readme-color: #6c6;
$bottom-shape-height: 150px;
$thumbnail-min-width: 358px;

@mixin create-posts-skin($text-color, $link-color) {
  .post-item__title {
    &-link {
      color: $text-color;
      box-shadow: inset 0 -1px 0 $text-color;

      &:hover,
      &:focus,
      &:active {
        box-shadow: inset 0 -2px 0 $text-color;
      }
    }
  }

  .post-item__read-more {
    color: $link-color;
    box-shadow: inset 0 -1px 0 $link-color;

    &:hover,
    &:focus,
    &:active {
      box-shadow: inset 0 -2px 0 $link-color;
    }
  }
}

.grid-container.grid-container--posts {
  display: block;
  max-width: 320px;
  margin: $spacer * 1.5  auto 0;
  overflow: hidden;

  @include media-min-width(md) {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: $spacer * 2  auto auto;
  }
}

.posts {
  position: relative;
  z-index: 10;
  padding-bottom: 0;

  @include media-min-width(md) {
    padding-top: $bottom-shape-height * 0.66;
    margin-top: -$bottom-shape-height;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    margin-top: $spacer;
    margin-bottom: 0;

    @include font-size(40px);
  }

  &__content {
    margin: $spacer auto 0;
    max-width: 1140px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: $spacer * 1.5  0  $spacer * 2;
  }

  &__row {
    display: flex;
  }

  &__bottom-shape {
    height: $bottom-shape-height;
    z-index: 20;
    position: relative;
    overflow: hidden;
    pointer-events: none;

    // hide the very last shape, as footer has it's own one
    &:last-of-type {
      background: red;
    }
  }

  &__bottom-shape--mobile {
    width: 100%;
    height: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -12px;
      z-index: 30;
      background: inherit;
      transform: rotate(3deg);
      display: block;
      width: 100vw;
      height: 35px;
    }

    @include media-min-width(md) {
      display: none;
    }
  }
}

// Select first posts component
.fc + .fc--posts {
  padding-top: $spacer * 2.5;
  margin-top: 0;
}

// Hide the very last shape, as footer has it's own one
.fc--posts:last-of-type {
  padding-bottom: 120px;

  & + .posts__bottom-shape {
    display: none;

    & + .posts__bottom-shape--mobile {
      display: none;
    }
  }
}

.post-item {
  display: block;
  overflow: hidden;
  margin-bottom: $spacer * 2;
  box-shadow: 0 0 10px -3px #444;
  transition: box-shadow 0.3s linear;
  // background-color: #fff;

  @include media-min-width(md) {
    flex: 30.33333%;
    margin-right: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
  }

  @include media-max-width(md) {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &__thumb {
    width: 100%;
    // trying to implement full image strech
    position: absolute;
    top: calc(50% + 1px);
    left: calc(50% + 1px);
    transform: scale(1.01) translate(-50%, -50%);

    &.fit-height {
      height: 100%;
      left: 0;
      top: 0;
      transform: none;
    }

    &-container {
      overflow: hidden;
      padding-bottom: calc(66%);
      position: relative;
      min-width: $thumbnail-min-width;

      &::after { // gradient overlay
        display: block;
        content: "";
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), transparent 75%);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        opacity: 1;
        transition: all 0.3s ease-out;
      }
    }

    &-link {
      min-width: $thumbnail-min-width;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
  }

  &:hover {
    box-shadow: 0 1px 10px #555;

    .post-item {
      &__thumb-container::after {
        opacity: 0;
      }
    }
  }

  &__content {
    padding: $spacer * 2.5  $spacer * 1.5  0;
    // background: red;
  }

  &__title {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 0;
    display: inline;
  }

  &__read-more {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    margin: $spacer  $spacer * 1.5  $spacer * 2;
    align-self: flex-end;
  }

  &--dark {
    @include create-posts-skin($post-dark-text-color, $post-dark-readme-color);
  }

  &--light {
    @include create-posts-skin($post-light-text-color, $post-light-readme-color);
  }
}
