$footer-line-color: $light;
$footer-text-size: 18px;

.site-footer {
  line-height: 1.3;
  margin-top: 125px;

  .home & {
    margin-top: 0;
  }

  .copy {
    margin-bottom: 0;

    @include media-min-width(md) {
      margin-bottom: 1.5em;
    }
  }
}

.footer-widgets {
  padding-bottom: 150px;
  padding-top: 0;
  position: relative;
  z-index: 90;
  margin-top: -50px;

  a {
    font-size: $footer-text-size * 0.8;
  }

  @include media-min-width(sm) {
    margin-top: 0;
  }

  @include media-min-width(md) {
    padding-top: 60px;
    padding-bottom: 100px;

    a {
      font-size: $footer-text-size;
    }
  }

  .widget {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    font-size: $footer-text-size * 0.8;
    line-height: 1.5;

    @include media-min-width(md) {
      font-size: $footer-text-size;
    }

    &-title {
      font-size: 32px;
      width: 100%;
      display: block;

      @include media-max-width(md) {
        font-size: 25px;
        margin-bottom: $spacer / 2;
      }
    }
  }
}

.footer-widget-2 {
  position: relative;

  .widget {
    &::before {
      display: none;

      @include media-min-width(md) {
        display: block;
        content: "";
        position: absolute;
        top: -7%;
        left: 14%;
        background-color: $footer-line-color;
        height: 114%;
        width: 2px;
      }
    }

    &::after {
      content: "";
      border-bottom: 1px solid #fff;
      width: 100%;
      position: absolute;
      bottom: -20px;

      @include media-min-width(md) {
        display: none;
      }
    }
  }
}
