.site-header {
  border-bottom: 0;

  @include media-max-width(md) {
    border-bottom: 0;
    background: transparent;
    position: absolute;
    width: 100%;
  }
}

.inside-header {
  .header-widget {
    display: block;

    @include media-max-width(md) {
      display: none;
    }
  }
}
