/* stylelint-disable */
@font-face {
  font-family: 'icomoon';
  src:  local('icomoon'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  // unicode-range: U+000-5FF; /* Latin glyphs */
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-angle-right:before {
  content: "\e900";
}
.fa-ban:before {
  content: "\e909";
}
.fa-broadcast-tower:before {
  content: "\e90a";
}
.fa-bug:before {
  content: "\e90b";
}
.fa-building:before {
  content: "\e90c";
}
.fa-cloud:before {
  content: "\e90d";
}
.fa-copyright:before {
  content: "\e90e";
}
.fa-mobile-alt:before {
  content: "\e90f";
}
.fa-network-wired:before {
  content: "\e910";
}
.fa-newspaper:before {
  content: "\e901";
}
.fa-search:before {
  content: "\e917";
}
.fa-shield-alt:before {
  content: "\e911";
}
.fa-tasks:before {
  content: "\e908";
}
.fa-toolbox:before {
  content: "\e912";
}
.fa-tools:before {
  content: "\e902";
}
.fa-trophy:before {
  content: "\e913";
}
.fa-unlock-alt:before {
  content: "\e914";
}
.fa-user-friends:before {
  content: "\e915";
}
.fa-wifi:before {
  content: "\e916";
}
.fa-facebook-f:before {
  content: "\e903";
}
.fa-instagram:before {
  content: "\e904";
}
.fa-snapchat-ghost:before {
  content: "\e905";
}
.fa-twitter:before {
  content: "\e906";
}
.fa-youtube:before {
  content: "\e907";
}
