.site-content {
  overflow: hidden;
}

.separate-containers .site-main {
  @include media-max-width(md) {
    margin-top: 0;
  }
}

.search {
  .page-header {
    margin-bottom: $spacer * 1.5;
  }
}

.inside-right-sidebar {
  position: relative;
}

.site,
.inside-navigation,
.inside-header {
  @media (min-width: 768px) and (max-width: 1310px) {
    padding-left: 40px;
  }
}

.home {
  .site {
    @media (min-width: 768px) and (max-width: 1310px) {
      padding-left: 0;
    }
  }
}
