.site-logo {
  margin-left: $spacer;
  max-width: 100%;

  @include media-max-width(md) {
    max-width: 220px;
  }

  .header-image {
    max-width: 100%;

    @include media-max-width(md) {
      max-width: 220px;
      position: relative;
      z-index: 50;
    }
  }
}
