img[class*="wp-image"] {
  margin-top: $spacer;
  margin-bottom: $spacer * 1.5;
}

.post-image-aligned-left.post-image-above-header .inside-article .post-image {
  margin-bottom: $spacer / 2;

  @include media-min-width(md) {
    margin-bottom: 0;
  }
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: $spacer * 2;
  height: 0;
  overflow: hidden;
  margin-bottom: $spacer * 2;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
