$navigation-icon-size: 22px;
$caret-size: 26px;
$mobile-toggle-size: 36px;

//Main navigaiton
.main-navigation {
  @include media-max-width(md) {
    background-color: $dark;
    height: $mobile-header-height;

    &.toggled {
      height: auto;
    }
  }

  .main-nav {
    padding-top: $spacer / 2;

    @include media-min-width(md) {
      padding-top: 0;
    }
  }

  .svg-inline--fa,
  i {
    margin-right: $spacer / 2;
    font-size: $navigation-icon-size;
    vertical-align: middle;
  }

  .menu-item a {
    display: flex;
    align-items: center;
  }

  .sub-menu {
    font-size: 16px;

    .svg-inline--fa,
    i {
      width: 30px;
      float: left;
    }
  }

  .dropdown-menu-toggle {
    padding-left: $spacer / 2;

    &::before {
      content: "\25be";
      font-size: $caret-size;
    }

    &:focus {
      outline: none;
    }
  }
}

button.menu-toggle {
  width: $mobile-toggle-size;
  height: $mobile-toggle-size;
  margin-left: $spacer / 2;
  padding: 0;
  font-size: 18px;
  text-align: center !important;
  margin-top: 5px;

  .mobile-menu {
    display: none;
  }

  &:focus {
    outline: 0;
  }
}

// Footer navigation
#menu-footer-menu {
  line-height: 1.6;

  .menu-item {
    margin-bottom: 0;
    display: inline;
    margin-right: 2px;

    &::before {
      content: "|";
      margin-right: 5px;
    }

    &:first-child::before {
      display: none;
    }

    @include media-min-width(md) {
      display: block;
      margin-right: 0;

      &::before {
        display: none;
      }
    }

    a:hover,
    a:active,
    a:focus {
      color: $secondary;
    }
  }
}
