$notebox-border-color: #a2a29d;
$notebox-border-width: 2px;
$notebox-title-bg: #dfe0dc;

.notebox {
  border: $notebox-border-width solid $notebox-border-color;
  border-right-width: $notebox-border-width + 1;
  border-bottom-width: $notebox-border-width + 1;
  border-radius: 6px;
  margin-bottom: $spacer * 2;

  &__title {
    background: $notebox-title-bg;
    background: linear-gradient($notebox-title-bg, darken($notebox-title-bg, 8%));
    padding: $spacer;
    font-weight: 700;
    color: #000;
    margin-bottom: 0;

    @include media-min-width(md) {
      padding: $spacer  $spacer * 1.5;
    }
  }

  &__content {
    padding: $spacer;

    @include media-min-width(md) {
      padding: $spacer * 1.5;
    }
  }
}
