.paging-navigation {
  .nav-links {
    overflow: hidden;
  }
}

#nav-above {
  margin: $spacer  0  $spacer * 2;

  .search-results & {
    display: none;
  }
}

.page-numbers {
  border: 1px solid $border-color;
  padding: $spacer / 4  $spacer * 0.75;
  margin-right: $spacer * 0.75;
  display: inline-block;

  &.dots {
    border: none;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $dark;
    color: $light !important;
  }
}
