$pros-color: #038800;
$cons-color: #dc0000;

.pros-cons-box {
  overflow: hidden;
  margin: 20px 0 40px;

  @include media-min-width(md) {
    display: flex;
  }

  h2,
  h3,
  h4,
  .pros-title,
  .cons-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.2em;

    @include media-min-width(md) {
      font-size: 1.4em;
      font-weight: 700;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 15px;
    margin: 0;
  }
}

.pros-box,
.cons-box {
  overflow: hidden;

  @include media-min-width(md) {
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
  }

  ul li {
    margin-bottom: 0;
  }
}

.pros-box {
  background-color: #f0f0f0;
  padding: $spacer * 1.5  $spacer;
  border-radius: 15px 15px 0 0;
  display: block;

  @include media-min-width(md) {
    border-radius: 15px 0 0 15px;
  }

  li::before {
    content: "+";
    display: inline-block;
    margin-left: -15px;
    position: absolute;
  }

  h2,
  h3,
  h4 {
    color: $pros-color;
  }
}

.cons-box {
  background-color: #f7f7f7;
  padding: $spacer * 1.5  $spacer;
  border-radius: 0 0 15px 15px;
  display: block;

  @include media-min-width(md) {
    border-radius: 0 15px 15px 0;
  }

  li::before {
    content: "-";
    display: inline-block;
    margin-left: -15px;
    position: absolute;
  }

  h2,
  h3,
  h4 {
    color: $cons-color;
  }
}

.pros-cons-template-2 {
  .pros-box,
  .cons-box {
    padding-top: 0;
  }

  .pros-title {
    color: #fff;
    background-color: $pros-color;
    padding: $spacer / 1.5  $spacer * 1.3;
    margin-left: -$spacer;
    width: 100%;
  }

  .cons-title {
    color: #fff;
    background-color: $cons-color;
    padding: $spacer / 1.5  $spacer * 1.3;
    margin-left: -$spacer;
    width: 100%;
  }
}

.pros-cons-template-3 {
  .pros-box,
  .cons-box {
    padding-top: 0;
  }

  .pros-title,
  .cons-title {
    background-color: #d9d9d9;
    padding: $spacer / 1.5  $spacer * 1.3;
    margin-left: -$spacer;
    width: 100%;
  }
}
