$search-box-size: $mobile-header-height;

.search-item {
  display: none;

  @include media-max-width(md) {
    display: block;
  }
}

.navigation-search {
  &.nav-search-active {
    top: $mobile-header-height;
    z-index: 300;
  }
}

.mobile-bar-items {
  .search-item a {
    @include media-max-width(md) {
      padding-left: 0;
      padding-right: 0;
      margin-right: $spacer;
      line-height: $mobile-header-height;
    }
  }
}

.widget {
  .search {
    &-form {
      background-color: $dark;
      position: relative;
      margin-top: $spacer * 0.3;

      .svg-inline--fa,
      i {
        font-size: 22px;
        text-align: center;
        display: inline-block;
        color: #fff;
        position: absolute;
        top: $spacer;
        left: 0;
        width: $search-box-size;
        z-index: 10;
      }
    }

    &-field {
      padding-left: $search-box-size;
      border: 0;
      background-color: transparent;
      font-size: 24px;
      width: 175px;
      transition: width 0.3s ease-out;

      &:focus {
        width: 500px;
        outline: none;
        border: 0;
      }
    }
  }
}

::placeholder {
  color: $light;
}
