$icon-size: 45px;
$icon-bg: #fff;
$icon-color: #363636;

.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .site-footer & {
    position: absolute;
    bottom: 80px;
    width: 100%;
    left: 0;

    @include media-min-width(md) {
      position: relative;
      bottom: auto;
      left: auto;
      width: auto;
    }
  }

  li {
    display: inline-block;
    margin-left: $spacer;
    margin-top: 0 !important;

    &:first-child {
      margin-left: 0;
    }
  }
}

a.social-icon {
  border-radius: 60px;
  background-color: $icon-bg;
  width: $icon-size * 0.85;
  height: $icon-size * 0.85;
  color: $icon-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &:visited {
    color: $dark;
  }

  @include media-min-width(md) {
    width: $icon-size;
    height: $icon-size;
  }

  .svg-inline--fa,
  i {
    font-size: $icon-size * 0.6;
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.9;
    color: $secondary;
  }
}
