.wave {
  position: relative;
  height: 150px;
  z-index: 80;
  margin-top: -150px;

  @include media-min-width(sm) {
    height: 150px;
  }

  &::before {
    content: "";
    background: #363636;
    position: absolute;
    height: 100%;
    width: 999px;
    left: -25px;
    transform: rotate(5deg);
    bottom: -85px;

    @include media-min-width(md) {
      display: none;
    }
  }

  @include media-max-width(md) {
    svg {
      display: none;
    }
  }
}
