.widget {
  ul li {
    margin-top: $spacer / 2;
    position: static;

    &:first-child {
      margin-top: 0;
    }
  }

  .post-date,
  .tptn_date {
    display: block;
    font-size: 14px;
  }

  &.ez-toc {
    .sidebar & {
      @include media-max-width(md) {
        display: none;
      }
    }

    ul {
      margin-bottom: $spacer / 2;

      li {
        margin-top: 0;
      }
    }
  }

  .ez-toc-widget-container {
    white-space: normal;

    ul.ez-toc-list {
      padding: 0;
    }
  }
}

.pick_post_widget .post-date {
  display: none;
}

#dpsp-floating-sidebar {
  @include media-max-width(md) {
    top: auto !important;
    bottom: 0;
    width: 100%;

    .dpsp-networks-btns-sidebar {
      display: flex;

      li {
        width: 100%;
      }
    }

    .dpsp-network-btn {
      width: 100%;
      border-radius: 0;
    }

    .dpsp-network-icon {
      border-radius: 0;
    }
  }
}
