// Mixin for min-width media query if we don't use Bootstrap
@mixin media-min-width($grid-breakpoints) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $grid-breakpoints) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $grid-breakpoints);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }

  @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$grid-breakpoints}.';
  }
}

// Mixin for max-width media query if we don't use Bootstrap
@mixin media-max-width($grid-breakpoints) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $grid-breakpoints) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $grid-breakpoints);

    // Write the media query.
    @media (max-width: $breakpoint-value) {
      @content;
    }
  }

  @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$grid-breakpoints}.';
  }
}

@mixin bg-levels($el, $initial, $percentage, $depth) {
  $next: lighten($initial, $percentage);

  @if ($depth > 0) {
    background: $initial;

    .#{$el} {
      background: $initial;

      @include bg-levels($el, $next, $percentage, $depth - 1);
    }
  }
}

@mixin padding-levels($level-el, $el, $initial, $depth) {
  $next: $initial + 0.5rem;

  @if ($depth > 0) {
    .#{$level-el} {
      .#{$el} {
        padding-left: $initial;
      }

      @include padding-levels($level-el, $el, $next, $depth - 1);
    }
  }
}

%canvas-caret {
  margin-top: 10px;
  margin-left: 5px;
  float: right;
  border-top: 0.3rem solid;
  border-right: 0.3rem solid transparent;
  border-bottom: 0;
  border-left: 0.3rem solid transparent;
}

@mixin create-profile-image($persons) {
  @each $person in $persons {
    .#{$person} {
      background-image: url('../images/#{$person}.jpg');
    }
  }
}

@mixin parallax-code-image() {
  background-color: rgba(67, 171, 232, 1);
  background-image: none;
  background-position: center;
  background-attachment: fixed;
  background-size: 1000px auto;

  @include media-breakpoint-up(lg) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(67, 171, 232, 1)), $parallax-code-image;
  }

  &::before {
    content: "";
    background-color: rgba(67, 171, 232, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

@mixin font-size($size) {
  font-size: $size * 0.75;

  @include media-min-width(md) {
    font-size: $size;
  }
}
