.section-bg--primary {
  background-color: $primary;
  color: $text-color--primary;
}

.section-bg--dark {
  background-color: $bg--dark;
  color: $text-color--light;
}

.section-bg--light {
  background-color: $bg--light;
  color: $text-color--dark;
}

.no-padding {
  padding: 0;
}

.top-primary-border {
  border-top: 1px solid $primary;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right-m-center {
  text-align: center;

  @include media-min-width(md) {
    text-align: right;
  }
}

.text-left-m-center {
  text-align: center;

  @include media-min-width(md) {
    text-align: left;
  }
}

.grid-container--flex-md {
  @include media-min-width(md) {
    display: flex;
  }
}

.hide-on-mobile {
  @include media-max-width(md - 1) {
    display: none;
  }

  &-flex {
    display: none;

    @include media-min-width(md) {
      display: flex;
    }
  }
}

.hide-on-desktop {
  @include media-min-width(md) {
    display: none;
  }

  &-flex {
    display: flex;

    @include media-min-width(md) {
      display: none;
    }
  }
}

.flex-group {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
