// Colors
$primary: #ffad00;
$secondary: #e53935;
$light: #fff;
$dark: #363636;
$grey: #f3f2f2;
$dark-layout-bg: #3a3a3a;
$bg--dark: $dark;
$bg--light: $light;
$text-color--light: $light;
$text-color--dark: $dark;
$text-color--primary: $text-color--light;
$body-color: $text-color--dark;
$post-meta-color: #888;
$border-color: #ccc;

// Breakpoints
$breakpoints: (
  xs: 0,
  iphone5: 330px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Layout
$grid-padding: 20px;
$spacer: 1rem;
$padding: 40px;
$mobile-header-height: 50px;

$fa-font-path:        "../webfonts";
