@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hrm3y1');
  src:  url('fonts/icomoon.eot?hrm3y1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hrm3y1') format('truetype'),
    url('fonts/icomoon.woff?hrm3y1') format('woff'),
    url('fonts/icomoon.svg?hrm3y1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\e900";
}
.icon-ban:before {
  content: "\e909";
}
.icon-broadcast-tower:before {
  content: "\e90a";
}
.icon-bug:before {
  content: "\e90b";
}
.icon-building:before {
  content: "\e90c";
}
.icon-cloud:before {
  content: "\e90d";
}
.icon-copyright:before {
  content: "\e90e";
}
.icon-mobile-alt:before {
  content: "\e90f";
}
.icon-network-wired:before {
  content: "\e910";
}
.icon-newspaper:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e917";
}
.icon-shield-alt:before {
  content: "\e911";
}
.icon-tasks:before {
  content: "\e908";
}
.icon-toolbox:before {
  content: "\e912";
}
.icon-tools:before {
  content: "\e902";
}
.icon-trophy:before {
  content: "\e913";
}
.icon-unlock-alt:before {
  content: "\e914";
}
.icon-user-friends:before {
  content: "\e915";
}
.icon-wifi:before {
  content: "\e916";
}
.icon-facebook-f:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-snapchat-ghost:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
